{# Displays the start and end date search facets on the search form #}

{% ckan_extends %}

{% block search_facets %}
    {{ super() }}

    {# Daterange #}
    <div id="datesearch-filter">
        {% if (request.params.get('ext_startdate')) %}
        <p class="filter-list">
            <span class="facet">Start Date:</span>
            <span id="ext_startdate_after" class="filtered pill"></span>
        {% endif %}

        {% if (request.params.get('ext_enddate')) %}
            <span class="facet">End Date:</span>
            <span id="ext_enddate_after" class="filtered pill"></span>
        </p>
        {% endif %}
    </div>

    {# Custodian #}
    <div id="custodian-filter">
        {% if (request.params.get('ext_cust_id')) %}
        <p class="filter-list">
            <span class="facet">Custodian:</span>
            <span id="ext_cust_after" class="filtered pill"></span>
        {% endif %}
    </div>

{% endblock %}
