{% ckan_extends %} {# extend ckan template #}

{% block secondary_content %}

    {{ super() }} {# load the default block content first #}

    {# Need to replace default search results with my results #}

    <section class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="icon-medium icon-filter"></i>
            Custodian</h2>
        <p class="module-content empty">The title of this site is: {{ app_globals.site_title }}.</p>
    </section>

    <section class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="icon-medium icon-filter"></i>
            Date/Date Range
        </h2>
        <p class="module-content empty">The title of this site is: {{ app_globals.site_title }}.</p>
    </section>

{% endblock %}



